<center><h2 style="color:red">YOUR QUESTION</h2></center>
<center><h1><%= @question   %></h1></center>
<br>
<br>
<br>
<center><h2 style="color:red">COACH ANSWER</h2></center>
<center><h1>Silly question son...</h1></center>
<br>
<br>
<br>
<center><%= link_to 'Ask new question', ask_path %></center>
