<center><form action="/answer" method="get">
  <label for="question"><h1>Speak to your coach</h1></label>
  <input type="text" id="question" name="query" placeholder="Question">
  <input type="submit">
</form></center>
